.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board_row {
  
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.square{
   border: 1px solid gray; 
   width: 30px;
   height: 30px;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   display: flex;
   cursor: pointer;
}
.heading{
  text-align: center;
}
